<!DOCTYPE html>
<html>
<head>

	<%= head %>

	<link rel="stylesheet" type="text/css" href="/css/peditor.css">

</head>
<body>

	<div id="main">

		<%= navbar %>

		<div id="workspace" class="font-n">

			<%= workbench %>

			<%= workpannel %>

		</div>

		<div id="preview">
		</div>

		<div id="cur_decoration"></div>

	</div>

	<%= foot %>

	<!-- Peditor -->
	<script type="text/javascript" src="/js/ui_helper.js"></script>
	<script type="text/javascript" src="/js/workpanel.js"></script>
	<script type="text/javascript" src="/js/workbench.js"></script>
	<script type="text/javascript" src="/js/peditor.js"></script>

</body>
</html>
