<!DOCTYPE html>
<html>
<head>

	<%= head %>

	<link rel="stylesheet" type="text/css" href="/css/widget_editor.css">

	<!-- The namespace of the widget. -->
	<script type="text/javascript">
		// Main namespace.
		var PDT = {}

		// A hash table to store the widgets.
		PDT.widgets = {}
	</script>

</head>
<body>

	<script type="text/javascript" src="/js/widget.js"></script>

	<div class="PDT-info alert alert-success text-center">
		Don't panic, the scaffolding has automatically created two widgets for your debugging.
		<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
		To avoid this, append '<code>?one</code>' to your current url.
	</div>

	<!-- This is the helper page to create a new custom widget. -->
	<div id="main"></div>

	<div id="scripts"></div>

	<%= foot %>

	<script type="text/javascript" src="/js/ui_helper.js"></script>
	<script type="text/javascript" src="/js/widget_editor.js"></script>

</body>
</html>