<!DOCTYPE html>
<html>
<head>

	<%= head %>

	<link rel="stylesheet" type="text/css" href="/css/widget.css">

	<!-- The namespace of the widget. -->
	<script type="text/javascript">
		var Peditor = {}
		var widgets = {}
	</script>

</head>
<body>

	<script type="text/javascript" src="/js/widget.js"></script>

	<div class="alert alert-success text-center">
		Don't panic, the scaffolding has automatically created two widgets for your debugging.
	</div>

	<!-- This is the helper page to create a new custom widget. -->
	<%= widget %>

	<%= foot %>

	<script type="text/javascript" src="/js/widgets.js"></script>

</body>
</html>