<!--
	The root tag declears the peditor namespace.
	All resource without 'PDT-widget' attribute will be ignored,
	such as the '<h3>Thumb</h3>' will be ignored, it only available
	when debugging.
-->
<div PDT>

	<h3>Thumb</h3>
	<div PDT-widget class='thumb'>
		<!-- A thumbnail will be displayed in the widgets section. -->
		<div class='font-l font-24'>
			<i class='icon-beaker'></i> Template
		</div>
	</div><hr>


	<h3>Properties</h3>
	<div PDT-widget class='properties'>
		<!-- A widget's property editor. -->
		Template
	</div><hr>


	<h3>Widget</h3>
	<div PDT-widget class='widget'>
		<!-- Implement widget here. -->
		Template
	</div>


	<!-- CSS is optional. -->
	<link PDT-widget href='/widgets/template/main.css'>
	<!-- Inline style tag is supported. -->
	<style PDT-widget> body { color: #5b8ff3; } </style>

	<!-- At least a js file is required, you can change its file name. -->
	<script PDT-widget src='/widgets/template/main.js'></script>
	<!-- Inline script tag is supported. -->
	<script PDT-widget> console.log('Template'); </script>

</div>
