<!-- The root tag declears the peditor namespace. -->
<div peditor>

	<h3>Thumb</h3>
	<div peditor-widget="/* widget name */" class="thumb">
		<!-- A thumbnail will be displayed in the widgets section. -->
	</div><hr>

	<h3>Properties</h3>
	<div peditor-widget="/* widget name */" class="properties">
		<!-- A widget's property editor. -->
	</div><hr>

	<h3>Widget</h3>
	<div peditor-widget="/* widget name */" class="widget">
		<!-- Implement widget here. -->
	</div>

	<!-- CSS is optional. -->
	<link rel="stylesheet" type="text/css" href="/* absolute path */">

	<!--
	At least the interface below is required. All codes out
	of the '<div peditor-widget></div>' will be ignored.
	-->
	<script type="text/javascript" src="/widgets/template/main.js"></script>

</div>
