@font-face
	font-family: 'FaunaOne'
	src: url('../fonts/FaunaOne-Regular.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Raleway'
	src: url('../fonts/Raleway-ExtraLight.ttf')
	font-weight: normal
	font-style: normal

.font-n
	font-family: FaunaOne

.font-l
	font-family: Raleway


for num in (5 .. 18)
	n = num * 2
	.font-{n}
		font-size: n px