@font-face
	font-family: 'FaunaOne'
	src: url('../fonts/FaunaOne-Regular.ttf')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Raleway'
	src: url('../fonts/Raleway-ExtraLight.ttf')
	font-weight: normal
	font-style: normal

.font-n
	font-family: FaunaOne

.font-l
	font-family: Raleway