/*
	The main style of Peditor.
 */

@import "peditor.mixins"

// ************** Theme **************

// Normalization

html, body, #main
	height 100%

// Normalization End


// Topbar

$topbar_height = 36px
#topbar
	height $topbar_height
	border-bottom 1px solid #333


// Topbar End


// Workspace

$workpanel_width = 300px

#workspace
	height_calc 100% \- $topbar_height
	border 1px solid #333

	.group
		margin: 5px 0
		padding: 5px
		border 1px dashed #777
		border-radius 3px
		display: inline-block

	.column-width
		width: 60px;
		display: inline-block;
		height: 36px;

#workbench, #workpanel
	float left
	height 100%

#workbench
	width 100%
	margin-right - $workpanel_width
	padding-right $workpanel_width

	$container_margin = 10px
	#outline
		width 100%
		height 100%
		padding 0 $container_margin $container_margin 0
		overflow auto

		.r, .c
			margin $container_margin 0 0 $container_margin
			padding 0 $container_margin $container_margin 0
			min-height 200px
			background: #fff

		&.hover, .r.hover
			background: #fff2f8
		
		.r
			border 3px solid #f986fb
			clearfix()
			insertion_guide('row')

		.c
			float left
			border 3px solid #00BEFF

		.c.hover
			background: #ecf0ff

		// Column insertion guide
		.c
			insertion_guide('column')

		for i in (1 .. 12)
			.w-{i}
				width_calc (100 / 12 * i)% \- $container_margin

#workpanel
	padding 0 10px
	width $workpanel_width
	overflow auto
	border-left 1px solid #333

// Workspace End

#cur_decoration
	position absolute
	margin 15px
