/*
	The main style of Peditor.
 */

@import "peditor.mixins"

// ************** Theme **************

// Normalization

html, body, #main
	height 100%

// Normalization End

#main
	background url('/img/bg.png')

$button_highlight = #1fa1e6

// Navbar

$navbar_height = 40px
#navbar
	height $navbar_height
	line-height $navbar_height

	.button
		float left
		padding 0 15px
		cursor pointer
		&:hover
			background #fff
			color $button_highlight

	.view_mode
		float right
		line-height normal

		label
			height 40px
			border none
			padding-top 10px
			border-radius 0

// Navbar End


// Workspace

$workpanel_width = 300px

#workspace
	height_calc 100% \- $navbar_height
	border 1px solid #333

#workbench, #workpanel
	float left
	height 100%

#workbench
	width 100%
	margin-right - $workpanel_width
	padding-right $workpanel_width

	$container_margin = 15px
	#outline
		width 100%
		height 100%
		overflow auto

		.root
			width 100%
			height 100%
			margin auto
			padding 0 $container_margin $container_margin 0
			overflow-y auto
			background #fff

		.r, .c
			margin $container_margin 0 0 $container_margin
			padding 0 $container_margin $container_margin 0
			min-height 200px
			background: #fff

		.hover
			border-color #ff7f00 !important

		.root.hover, .r.hover
			background-color: #fff2f8
		
		.r
			border 2px solid #f986fb
			clearfix()
			insertion_guide('row')
			container_selected()

		.c
			float left
			border 2px solid #00BEFF
			insertion_guide()

			&.hover
				background-color: #ecf0ff

		for i in (1 .. 12)
			{s('[w="%s"]', i)}
				width_calc (100 / 12 * i)% \- $container_margin

		.widget
			margin $container_margin 0 0 $container_margin
			border 2px solid #777
			insertion_guide('row')

			&.hover
				background-color #eee
	
		.root, .r, .c, .widget
			container_selected()

#workpanel
	padding 0 10px
	width $workpanel_width
	overflow auto
	border-left 1px solid #333

	.group
		margin: 10px 0
		padding: 5px
		border 1px solid #ccc
		border-radius 3px

	.properties .group
		display none

	.column-width
		width: 80px;
		display: inline-block;

	.btn_widget
		padding 100px
		box-shadow 0 0 3px #aaa
		display inline-block
		margin 10px
		background #f6f6f6
		cursor pointer

		&:hover
			background #eee

	.input-group
		margin 10px 0

// Workspace End

#cur_decoration
	position absolute
	margin 15px
