// Auto prefix mixins.
height_calc(args...)
	height -webkit-calc(args)
	height -moz-calc(args)
	height calc(args)

width_calc(args...)
	width -webkit-calc(args)
	width -moz-calc(args)
	width calc(args)

// Clearfix from bootstrap.
clearfix()
	&:before, &:after
		content: " ";
		display: table;
	&:after
		clear: both;

animation(args...)
	-webkit-animation args
	-moz-animation args
	-o-animation args
	animation 

@keyframes row_before
	100%
		border-top-color red
@keyframes row_after
	100%
		border-bottom-color red
@keyframes col_before
	100%
		border-left-color red
@keyframes col_after
	100%
		border-right-color red

insertion_guide(type)
	if type == "row"
		&.before
			animation row_before 0.5s ease 0s infinite alternate
		&.after
			animation row_after 0.5s ease 0s infinite alternate
	else
		&.before
			animation col_before 0.5s ease 0s infinite alternate
		&.after
			animation col_after 0.5s ease 0s infinite alternate

@keyframes add_container
	0%
		min-height 100px
	100%
		min-height 200px

.add_animate
	animation add_container 0.3s ease 0s 1
