/*
	The main style of Peditor.
 */

@import "peditor.mixins"

// ************** Theme **************

// Normalization

html, body, #main
	height 100%

// Normalization End

$button_highlight = #1fa1e6

// Navbar

$navbar_height = 40px
#navbar
	height $navbar_height
	line-height $navbar_height
	background #F7F7F7

	.button
		float left
		padding 0 15px
		cursor pointer
		&:hover
			background #fff
			color $button_highlight

	.view_mode
		float right
		line-height normal

		label
			height 40px
			border none
			padding-top 10px
			border-radius 0

// Navbar End


// Workspace

$workpanel_width = 300px

#workspace
	height_calc 100% \- $navbar_height
	border 1px solid #333

	.group
		margin: 3px 0
		padding: 3px
		border 1px dashed #ccc
		border-radius 3px
		display: inline-block

	.column-width
		width: 80px;
		display: inline-block;

#workbench, #workpanel
	float left
	height 100%

#workbench
	width 100%
	margin-right - $workpanel_width
	padding-right $workpanel_width

	$container_margin = 15px
	.root
		width 100%
		height 100%
		padding 0 $container_margin $container_margin 0
		overflow auto

		.r, .c
			margin $container_margin 0 0 $container_margin
			padding 0 $container_margin $container_margin 0
			min-height 200px
			background: #fff

		&.hover, .r.hover
			background: #fff2f8
		
		.r
			border 2px solid #f986fb
			clearfix()
			insertion_guide('row')
			container_selected()

		.c
			float left
			border 2px solid #00BEFF
			insertion_guide()

			&.hover
				background: #ecf0ff

		for i in (1 .. 12)
			.w-{i}
				width_calc (100 / 12 * i)% \- $container_margin

		.widget
			margin $container_margin 0 0 $container_margin
			border 2px solid #777
			insertion_guide('row')

			&.hover
				background #eee
				border-color #ff7f00
	
	.root, .r, .c, .widget
		container_selected()

#workpanel
	padding 0 10px
	width $workpanel_width
	overflow auto
	border-left 1px solid #333

	.btn_widget
		padding 100px
		box-shadow 0 0 3px #aaa
		display inline-block
		margin 10px
		background #f6f6f6
		cursor pointer

		&:hover
			background #eee

// Workspace End

#cur_decoration
	position absolute
	margin 15px
