@import "peditor.mixins"

#main
	margin 20px

[peditor-widget="thumb"],
[peditor-widget="properties"]
	width 300px
	padding 10px
	background url('/img/bg.png')

[peditor-widget="widget"]
	border 2px solid #aaa
	margin 20px 0

	&:hover
		background-color #eee
		border-color #ff7f00

	&.selected
		container_selected()

.input-group
	margin 10px 0