
<% function select_12() { %>
	<select class="column-width form-control" PDT-bind-prop="column-width" title="The n-twelfth width of a row">
		<% _.each(_.range(1, 13), function (i) { %>

		<option value="<%= i %>"><%= i %></option>

		<% }); %>
	</select>
<% } %>

<div id="workpanel" class="outline">

	<div id="properties">
		<h2 class="font-n font-20">
			<i class="icon-bar-chart"></i> Properties
			<span class="selected-con-i badge font-14"></span>
		</h2>

		<div class="group" PDT-bind="root row column">
			<div class="font-n font-16">Background</div>
			<div class="input-group" title="Such as '/img/peditor.png'">
				<span class="input-group-addon">URL</span>
				<input class="form-control" PDT-bind-prop="background-image" type="url" placeholder="Image url...">
			</div>
			<div class="input-group">
				<span class="input-group-addon">Repeat</span>
				<select class="form-control" PDT-bind-prop="background-repeat">
					<option value="repeat">Repeat</option>
					<option value="repeat-x">Repeat Horizontal</option>
					<option value="repeat-y">Repeat Vertical</option>
					<option value="no-repeat">None</option>
				</select>
			</div>
		</div>

		<div class="group" PDT-bind="root">
			<div class="font-n font-16">Width</div>
			<input class="form-control" PDT-bind-prop="width" placeholder="Unit px or % ..." type="text">
		</div>

		<div class="group" PDT-bind="column">
			<div class="font-n font-16">Column Size</div>
			<% select_12() %>
		</div>
	</div>
	<hr>

	<div class="containers">
		<h2 class="font-n font-20"><i class="icon-th"></i> Containers</h2>

		<div PDT-type="row" class="font-22 btn_drag" title="Drag to the left pannel">
			<i class="icon-reorder"></i> Row
		</div>

		<div PDT-type="column" class="btn_drag" title="Drag to the left pannel">
			<span class='font-22'>
				<i class="icon-trello"></i> Column
			</span>
		</div>

		<div PDT-type="delete" class="font-22 btn_drag" title="Drag onto the container that you want to delete">
			<i class="icon-trash"></i> Delete
		</div>
	</div>
	<hr>

	<div class="widgets">
		<h2 class="font-n font-20"><i class="icon-gears"></i> Widgets</h2>

		<% _.each(widget_list, function(w){ %>
			<div PDT-widget="<%= w %>" PDT-type="widget" class="btn_drag"></div>
		<% }); %>

	</div>
	<hr>
</div>
