<% function select_12() { %>
	<select class="column-width form-control" peditor-css="column-width" title="The n-twelfth width of a row">
		<% for(var i = 1; i < 13; i++) { %>

		<option value="<%= i %>" <% if(i == 6) print('selected') %> ><%= i %></option>

		<% } %>
	</select>
<% } %>

<div id="workpanel">

	<div class="properties">
		<h2 class="font-n font-20">Properties <span class="selected-con-i badge font-14"></span></h2>

		<div class="group" peditor-bind="root row column">
			<div class="font-n font-16">Background</div>
			<div class="input-group" title="Such as '/img/peditor.png'">
				<span class="input-group-addon">URL</span>
				<input class="form-control" type="text" peditor-css="background-image" placeholder="Image url...">
			</div>
			<div class="input-group">
				<span class="input-group-addon">Repeat</span>
				<select class="form-control" peditor-css="background-repeat">
					<option value="repeat" selected>Repeat</option>
					<option value="repeat-x">Repeat Horizontal</option>
					<option value="repeat-y">Repeat Vertical</option>
					<option value="no-repeat">None</option>
				</select>
			</div>
		</div>

		<div class="group" peditor-bind="root">
			<div class="font-n font-16">Width</div>
			<input class="form-control" peditor-css="width" placeholder="Unit px or % ..." type="text">
		</div>

		<div class="group" peditor-bind="column">
			<div class="font-n font-16">Column Size</div>
			<% select_12() %>
		</div>
	</div>
	<hr>

	<div class="containers">
		<h2 class="font-n font-20">Containers</h2>

		<div class="group">
			<button
				peditor-type="row"
				class="btn_container btn btn-primary"
				title="Drag to the left pannel"
			>
				<i class="icon-reorder"></i> Row
			</button>
		</div>

		<div class="group">
			<button
				peditor-type="column"
				class="btn_container btn btn-primary"
				title="Drag to the left pannel"
			>
				<i class="icon-trello"></i> Column
			</button>
			Size:
			<% select_12() %>
		</div>

		<div class="group">
			<button
				peditor-type="delete"
				class="btn_container btn btn-primary"
				title="Drag onto the container that you want to delete"
			>
				<i class="icon-trash"></i> Delete
			</button>
		</div>
	</div>
	<hr>

	<div class="widgets">
		<h2 class="font-n font-20">Widgets</h2>

		<div class="group">
			<a href="widget" class="btn btn-primary" title="Custom a new widget.">Create Widget</a>
		</div>

		<a href="/widget/title" target="_blank" peditor-type="widget" peditor-widget="title" class="btn_widget">
			<i class="icon-flag font-36"></i>
		</a>
	</div>
	<hr>
</div>
