<div PDT>

	<h3>Thumb</h3>
	<div PDT-widget class="thumb font-24">
		<a href="/widget_editor/slider" target="_blank"><i class="icon-film"></i> Slider</a>
	</div><hr>

	<h3>Properties</h3>
	<div PDT-widget class="properties">

		<% for (i = 0; i < 3; i++) { %>
			<div class="input-group">
				<span class="input-group-addon">Image <%= i + 1 %></span>
				<input class="form-control" img='<%= i %>' placeholder='Image url...'>
			</div>
		<% } %>

	</div><hr>

	<h3>Widget</h3>
	<div PDT-widget class="widget">

		<data img='0' src='/nivo-slider/demo/images/up.jpg'></data>
		<data img='1' src='/nivo-slider/demo/images/walle.jpg'></data>
		<data img='2' src='/nivo-slider/demo/images/nemo.jpg'></data>

	</div>

	<link PDT-widget rel="stylesheet" type="text/css" href="/nivo-slider/nivo-slider.css">
	<link PDT-widget rel="stylesheet" type="text/css" href="/nivo-slider/themes/default/default.css">
	<link PDT-widget type="text/css" href="/widgets/slider/main.css">

	<script PDT-widget type="text/javascript" src="/nivo-slider/jquery.nivo.slider.js"></script>
	<script PDT-widget type="text/javascript" src="/widgets/slider/main.js"></script>

</div>
