
[PDT-widget="title"].thumb
	padding 20px 0

[PDT-widget="title"].properties
	.input-group
		margin 10px 0

[PDT-widget="title"].widget
	padding 10px
	word-break keep-all
	word-wrap break-word

	i
		display: inline-block

	for i in (1 .. 6)
		.h{i}
			font-size (7 - i) * 5 px